# Node modules
node_modules/
**/node_modules/

# Dependency directories
package-lock.json
yarn.lock
pnpm-lock.yaml

# Build outputs
dist/
build/
.next/
.expo/
.expo-shared/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.*

# Logs
*.log

# VSCode
.vscode/
